<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
    @*<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">*@



    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Target Material Design Bootstrap Admin Template</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/materialize/css/materialize.min.css" media="screen,projection" />
    <!-- Bootstrap Styles-->

    <link href="~/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="~/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="~/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="~/assets/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="~/assets/js/Lightweight-Chart/cssCharts.css">
</head>
<body>


    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">

            <div class="navbar-header">

                <a class="navbar-brand " href="index.html">
                    <img src="~/assets/img/Highmoon - LOGO (1).jfif" width="220px" height="70px" style="margin:0; padding:0px" />

                </a>

                <div id="sideNav" href=""><i class="material-icons dp48">toc</i></div>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li style="margin-right:50PX"> @Html.Partial("_LoginPartial")</li>
                @*<li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown4"><i class="fa fa-envelope fa-fw"></i> <i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown3"><i class="fa fa-tasks fa-fw"></i> <i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown2"><i class="fa fa-bell fa-fw"></i> <i class="material-icons right">arrow_drop_down</i></a></li>*@
                @*<li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown1"><i class="fa fa-user fa-fw"></i> <b>John Doe</b> <i class="material-icons right">arrow_drop_down</i></a></li>*@




            </ul>
        </nav>
        <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content">
            <li>
                <a href="#"><i class="fa fa-user fa-fw"></i> My Profile</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </li>
        </ul>
        <ul id="dropdown2" class="dropdown-content w250">
            <li>
                <div>
                    <i class="fa fa-comment fa-fw"></i> New Comment
                    <span class="pull-right text-muted small">4 min</span>
                </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <div>
                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                    <span class="pull-right text-muted small">12 min</span>
                </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <div>
                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                    <span class="pull-right text-muted small">4 min</span>
                </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <div>
                    <i class="fa fa-tasks fa-fw"></i> New Task
                    <span class="pull-right text-muted small">4 min</span>
                </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <div>
                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                    <span class="pull-right text-muted small">4 min</span>
                </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a class="text-center" href="#">
                    <strong>See All Alerts</strong>
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
        </ul>
        <ul id="dropdown3" class="dropdown-content dropdown-tasks w250">
            <li>
                <a href="#">
                    <div>
                        <p>
                            <strong>Task 1</strong>
                            <span class="pull-right text-muted">60% Complete</span>
                        </p>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                <span class="sr-only">60% Complete (success)</span>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <div>
                        <p>
                            <strong>Task 2</strong>
                            <span class="pull-right text-muted">28% Complete</span>
                        </p>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100" style="width: 28%">
                                <span class="sr-only">28% Complete</span>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <div>
                        <p>
                            <strong>Task 3</strong>
                            <span class="pull-right text-muted">60% Complete</span>
                        </p>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                <span class="sr-only">60% Complete (warning)</span>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <div>
                        <p>
                            <strong>Task 4</strong>
                            <span class="pull-right text-muted">85% Complete</span>
                        </p>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                                <span class="sr-only">85% Complete (danger)</span>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
        </ul>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    @if (User.IsInRole("Sales Coordinator") || User.IsInRole("Admin"))
                    {
                        <li>
                            <a href="/Report/Index" class="waves-effect waves-dark"><i class="fa fa-dashboard"></i> Dashboard </a>
                        </li>
                    }


                    @if (User.IsInRole("Sales Coordinator") || User.IsInRole("Admin"))
                    {
                        <li>
                            <a href="/Customers/Index" class="waves-effect waves-dark"><i class="fa fa-users"></i> Customers </a>
                        </li>
                    }


                    @if (User.IsInRole("Sales Coordinator") || User.IsInRole("Admin") || User.IsInRole("Account") || User.IsInRole("Factory Coordinator"))
                    {
                        <li>
                            <a href="/Projects/Index" class="waves-effect waves-dark"><i class="fa fa-fast-forward"></i> Project</a>
                        </li>
                    }


                    @if (User.IsInRole("Cutting Sheet") || User.IsInRole("Admin"))
                    {
                        <li>
                            <a href="/CuttingSheets/index" class="waves-effect waves-dark"><i class="fa fa-bar-chart-o"></i> MRF</a>
                        </li>
                    }

                    @if (User.IsInRole("Purchase") || User.IsInRole("WareHouse") || User.IsInRole("Admin"))
                    {
                        <li>
                            <a href="/Lpoes/index" class="waves-effect waves-dark"><i class="fa fa-qrcode"></i> LPO</a>
                        </li>
                    }
                    @if (User.IsInRole("WareHouse") || User.IsInRole("Admin"))
                    {
                        <li>
                            <a href="/StockIssues/Index" class="waves-effect waves-dark"><i class="fa fa-table"></i>Stock Issue</a>
                        </li>

                    }
                    @if (User.IsInRole("Purchase") || User.IsInRole("WareHouse") || User.IsInRole("Admin"))
                    {
                        <li>
                            <a href="/Materials/Index" class="waves-effect waves-dark"><i class="fa fa-bitbucket"></i>Materials Managment</a>
                        </li>

                    }

                    @if (User.IsInRole("Purchase") || User.IsInRole("Admin"))
                    {
                        <li>
                            <a href="/Suppliers/Index" class="waves-effect waves-dark"><i class="fa fa-bitbucket"></i>Supplier List</a>
                        </li>

                    }

                    @if (User.IsInRole("Cutting Sheet") || User.IsInRole("Admin"))
                    {

                        <li>
                            <a href="/RequestApprovals/Index" class="waves-effect waves-dark"><i class="fa fa-bitbucket"></i>Request Approvals</a>
                        </li>
                    }

                    @if (User.IsInRole("Admin"))
                    {
                        <li>
                            <a href="#" class="waves-effect waves-dark"><i class="fa fa-user-md"></i> Employee Managment<span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>@Html.ActionLink("Employees", "Index", "Employees")</li>
                                <li>@Html.ActionLink("Register", "Register", "Account")</li>


                                <li>@Html.ActionLink("List of Users", "ListOfUsers", "Account")</li>
                                <li>@Html.ActionLink("SalesMen", "Index", "SalesMen")</li>

                                <li>@Html.ActionLink("Designers", "Index", "Designers")</li>


                                <li>@Html.ActionLink("Permissions", "Index", "PermissionUsers")</li>
                            </ul>

                        </li>
                    }


                    <li>
                        <a href="#" class="waves-effect waves-dark"><i class="fa fa-user-md"></i>Reports<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level"></ul>

                    </li>

                    <li>
                        <a href="#" class="waves-effect waves-dark"><i class="fa fa-sitemap"></i> Master Data<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                @Html.ActionLink("Credit Terms", "Index", "CreditTerms")
                            </li>
                            <li>
                                @Html.ActionLink("Project Payment Terms", "Index", "ProjectPaymentTerms3")
                            </li>
                            <li>@Html.ActionLink("Unit", "Index", "units")</li>

                            <li>@Html.ActionLink("Customer Types", "Index", "CustomersTypes")</li>
                            <li>@Html.ActionLink("Project Payment Terms", "Index", "ProjectPaymentTerms")</li>
                            <li>
                                <a href="#">Second Level Link</a>
                            </li>
                            <li>
                                <a href="#">Second Level Link<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>

                                </ul>

                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="empty.html" class="waves-effect waves-dark"><i class="fa fa-fw fa-file"></i> Empty Page</a>
                    </li>
                </ul>


            </div>

        </nav>
        <!-- /. NAV SIDE  -->



        <div id="page-wrapper">

            <div class="header">
                <h2 class="page-header">
                    @ViewBag.title1
                </h2>
                @*<ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Tables</a></li>
                    <li class="active">Data</li>
                </ol>*@

            </div>

            <div id="page-inner">

                <div class="row">
                    <div class="col-md-12">
                        <!-- Advanced Tables -->
                        <div class="card">
                            <div class="card-action">

                            </div>
                            <div class="card-content">
                                <div class="table-responsive">






                                    @*<div id="page-inner">*@



                                    @RenderBody()
                                    <hr />
                                    <footer>
                                        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                                    </footer>


                                    @*</div>*@
                                    <!-- /. PAGE INNER  -->
                                </div>
                                <!-- /. PAGE WRAPPER  -->
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)



        <!-- JS Scripts-->
        <!-- jQuery Js -->
        <script src="~/assets/js/jquery-1.10.2.js"></script>

        <!-- Bootstrap Js -->
        <script src="~/assets/js/bootstrap.min.js"></script>

        <script src="~/assets/materialize/js/materialize.min.js"></script>

        <!-- Metis Menu Js -->
        <script src="~/assets/js/jquery.metisMenu.js"></script>
        <!-- Morris Chart Js -->
        <script src="~/assets/js/morris/raphael-2.1.0.min.js"></script>
        <script src="~/assets/js/morris/morris.js"></script>


        <script src="~/assets/js/easypiechart.js"></script>
        <script src="~/assets/js/easypiechart-data.js"></script>

        <script src="~/assets/js/Lightweight-Chart/jquery.chart.js"></script>

        <!-- Custom Js -->
        <script src="~/assets/js/custom-scripts.js"></script>


        <script src="~/Scripts/datetimepicker_css.js"></script>





        <!-- DATA TABLE SCRIPTS -->
        <script src="~/assets/js/dataTables/jquery.dataTables.js"></script>
        <script src="~/assets/js/dataTables/dataTables.bootstrap.js"></script>
        <script>
            $(document).ready(function () {
                alert();
                $('#dataTables-example').dataTable();
            });
        </script>





        @*<script src="http://code.jquery.com/jquery-3.1.1.slim.min.js"></script>*@

        <script src="~/Scripts/js/shortcutKey/jquery.keyboard-shortcuts.js"></script>
        <script type="text/javascript">
            (function (code) {
                code(window.jQuery, document, window);
            }(function ($, document, window) {
                $(function () {
                    $(window)
                        .initKeyboard({ debug: 1 })
                        .on('Shift+▲', function () {
                            alert('Shift+▲');
                        }).on('Shift+▼', function () {
                            $('#window').attr('class', 'h-50 p-b');
                        }).on('Shift+◀', function () {
                            $('#window').attr('class', 'w-50');
                        }).on('F1', function () {
                            openChildMaterial();

                        }).on('F3', function () {
                            openChildLPO();
                        }).on('F4', function () {
                            openChildStock();
                        }).on('F5', function () {
                            openChildWraehouse();
                        }).on('F6', function () {
                            openChildUnits();
                        }).on('F7', function () {
                            openChildSupplier();
                        }).on('F2', function () {
                            openChildCuttingSheet();
                        }).on('F8', function () {
                            openChildProject();
                        });
                });
            }));
        </script>
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-36251023-1']);
            _gaq.push(['_setDomainName', 'jqueryscript.net']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();



            function openChildMaterial() {
                showModalPopUp1('/Materials/create');

            }

            function openChildLPO() {
                showModalPopUp1('/Lpoes/Index');

            }

            function openChildStock() {
                showModalPopUp1('/StockIssues/Index');

            }

            function openChildWraehouse() {
                showModalPopUp1('/Warehouses/Index');

            }

            function openChildUnits() {
                showModalPopUp1('/Units/Index');

            }
            function openChildSupplier() {
                showModalPopUp1('/Suppliers/Index');

            }
            function openChildCuttingSheet() {
                showModalPopUp1('/CuttingSheets/Index');

            }

            function openChildProject() {
                showModalPopUp1('/Projects/Index');

            }

        </script>

        <script type="text/javascript">

            var popUpObj;

            function showModalPopUp1(url) {

                popUpObj = window.open(url,

                    //"ModalPopUp",

                    //"toolbar=no," +

                    //"scrollbars=no," +

                    "location=no," +

                    "statusbar=no," +

                    "menubar=no," +

                    "resizable=0," +

                    "width=800," +

                    "height=400," +

                    "left = 490," +

                    "top=300"

                );

                popUpObj.focus();

                LoadModalDiv();

            }

        </script>
</body>
</html>
