@model WebApplication8.Models.RequestApproval

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RequestApproval</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CuttingSheet.code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuttingSheet.code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovalType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovalType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductionManager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductionManager)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalesManager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesManager)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BDM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BDM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoordinatorFull)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoordinatorFull)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoordinatorPartial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoordinatorPartial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CEO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsRejected)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsRejected)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductionManagerRemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductionManagerRemarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalesManagerRemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesManagerRemarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BDMRemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BDMRemarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoordinatorFullRemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoordinatorFullRemarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoordinatorPartialRemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoordinatorPartialRemarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CEORemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEORemarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalesManagerDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesManagerDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BDMDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BDMDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoordinatorFullDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoordinatorFullDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoordinatorPartialDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoordinatorPartialDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CEODate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEODate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RequestApprovalId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
