@model IEnumerable<WebApplication8.Models.RequestApproval>

@{

    Layout = "~/Views/Shared/_Layout - Temp - Table.cshtml";
}
@{
    ViewBag.Title = "Index";
}

<h2>Requests List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered table-hover" id="dataTables-example">
    <thead>
        <tr>
            <th width="200px">Action</th>
            <th>
                @Html.DisplayNameFor(model => model.RequestDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovalType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CuttingSheet.code)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.details)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ProductionManager)
            </th>



        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.ActionLink("Approve", "Approve", new { id = item.RequestApprovalId }) |
                @Html.ActionLink("Details", "Details", new { id = item.RequestApprovalId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RequestApprovalId })

            </td>

            <td>
                @Html.DisplayFor(modelItem => item.RequestDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovalType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @if (item.CuttingSheet != null)
                {
                    @Html.ActionLink(item.CuttingSheet.code, "Details", "CuttingSheets", new { id = item.CuttingSheetId }, new { target = "_blank" })
                }

            </td>

            <td>
                @Html.DisplayFor(modelItem => item.details)
            </td>

            <td align="center" width="50px">



                @if (item.ProductionManager == true)
                {

                    <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />

                }
                else
                {

                    <input type="checkbox" class="filled-in" id="filled-in-box" />

                }
                <label for="filled-in-box"></label>



            </td>


        </tr>
        }
    </tbody>

</table>
