@model IEnumerable<WebApplication8.Models.supplier>
@{

    Layout = "~/Views/Shared/_Layout - Temp - Table.cshtml";
}
@{
    ViewBag.Title = "Index";
}

<h2>Suppliers List</h2>

<p style="margin:10px 0 10px 0">
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table table-striped table-bordered table-hover" id="dataTables-example">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditTermSupplier.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attention)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditTermSupplier.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attention)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.supplierId }) |
                @Html.ActionLink("Details", "Details", new { id = item.supplierId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.supplierId })
            </td>
        </tr>
        }
    </tbody>

</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")





    <!-- DATA TABLE SCRIPTS -->

    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });

    </script>
}