@model WebApplication8.Models.Lpo

@{
    ViewBag.Title = "Create";
}
<link href="~/Scripts/css/selectsearch/select2.min.css" rel="stylesheet" />


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "Lpoform", @NAME = "Lpoform" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4></h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        @Html.LabelFor(model => model.code, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.code, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @id = "code" } })
            @Html.ValidationMessageFor(model => model.code, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.SupplierRef, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SupplierRef, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SupplierRef, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <label for="LpoDate" class="col-md-2 control-label">Warranty</label>
        <div class="input-group date form_date col-md-5" data-date="" data-date-format="dd MM yyyy" data-link-field="LpoDate" data-link-format="yyyy-mm-dd">
            <input class="form-control" size="16" type="text" value="@ViewBag.LpoDate" readonly>
            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
        <input type="hidden" id="LpoDate" name="LpoDate" value="@ViewBag.LpoDate" /><br />

        @Html.ValidationMessageFor(model => model.LpoDate, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SupplierId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("SupplierId", null, "Please Select Supplier", htmlAttributes: new { @class = "form-control", @id = "SupplierId" })
            @Html.ValidationMessageFor(model => model.SupplierId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CreditTermSupplierId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("CreditTermSupplierId", null, "Please Select Credit Term", htmlAttributes: new { @class = "form-control", @id = "CreditTermSupplierId" })
            @Html.ValidationMessageFor(model => model.CreditTermSupplierId, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.SubTotal, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SubTotal, new { htmlAttributes = new { @class = "form-control", id = "SubTotal", Value = 0, @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.SubTotal, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Discount, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control", id = "Discount", Value = 0 } })
            @Html.ValidationMessageFor(model => model.Discount, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Total", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("Total", new { htmlAttributes = new { @class = "form-control", id = "Total", Value = 0, @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.SubTotal, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Vat, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Vat, new { htmlAttributes = new { @class = "form-control", id = "Vat", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Vat, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.GrandTotal, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.GrandTotal, new { htmlAttributes = new { @class = "form-control", id = "GrandTotal", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.GrandTotal, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control", id = "Remarks", } })
            @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LpoLocation, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10"  style="float:left; display:inline; ">
            @Html.DropDownList("LpoLocationId", null, htmlAttributes: new { @class = "form-control", @id = "LpoLocationId" })
            <span class="glyphicon glyphicon-plus btn btn-danger "  onclick="AddAddress()" > Add More</span>
            @Html.ValidationMessageFor(model => model.LpoLocationId, "", new { @class = "text-danger" })

        </div>
    </div>
    <div class="form-group">
        <div class="card-content">
            <b>
                <p class="control-label col-md-2">


                </p>
            </b>
            <div class="table-responsive">
                <div style="float: left;padding-left:10%">
                    <button id="calculate" type="button" onclick="openChild()" class="fa fa-plus-square btn btn-danger"> Add Material</button><br>
                    <br />

                    <input id="CustomerId" name="CustomerId" type="hidden" />
                    <div id="Customer"></div>

                </div>
                <table class="table-bordered table-responsive table dataTable text-nowrap" style="" id="tbDetails">
                    <thead>
                        <tr>


                            <td>
                                Sr #
                            </td>
                            <td>
                                id
                            </td>
                            <td>
                                Material
                            </td>
                            <td hidden>
                                Dimension
                            </td>
                            <td>
                                Unit
                            </td>
                            <td>
                                Request Qty
                            </td>
                            @*<td>
                        Unit
                    </td>*@
                            <td>
                                Price
                            </td>
                            <td>
                                Totlal
                            </td>

                            <td>
                                delete
                            </td>
                        </tr>
                    </thead>
                    <tbody id="p_scents"></tbody>


                </table>
            </div>
        </div>
    </div>

    <div class="form-group" style="margin-top : 5px">
        <div class="col-md-offset-4 col-md-2">

            <input type="button" id="btnSave" value="  Save  " class="btn btn-primary adminworkSaveBtn " />



        </div>
    </div>

</div>


}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <!--Select Search-->
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
    <script src="~/Scripts/js/selectSearch/select2.min.js"></script>

    <!--Select Search-->
    <script>
        $("#SupplierId").change(function () {

            var supplyerId = $("#SupplierId").val();

            $.ajax({
                type: "GET",
                url: "/suppliers/GetSupplierTerm",
                data: { id: supplyerId },
                async: true,
                success: function (r) {

                    $("#CreditTermSupplierId").val(r);
                }
            })
        });
    </script>


    <script>
        $("#SupplierId").select2({
            placeholder: "Select Supplier",
            allowClear: true
        });
    </script>


    <script>


        $(document).ready(function () {
            $("form").submit(function (e) {

                e.preventDefault(e);
            });
            var x = "@ViewBag.code"
            $("#code").val(x);

        });

        function validateForm() {

            if (document.Lpoform.CreditTermSupplierId.value == '') {
                alert("Please select Credit Term!");
                document.Lpoform.CreditTermSupplierId.focus();
                return false;
            }

            if (document.Lpoform.LpoDate.value == '') {
                alert("Please enter Lpo date!");
                document.Lpoform.LpoDate.focus();
                return false;
            }


            if (document.Lpoform.SupplierId.value == '') {
                alert("Please select Supplier!");
                document.Lpoform.SupplierId.focus();
                return false;
            }


            var table = document.getElementById("tbDetails");
            var totalRowCount = table.rows.length; // 5
            var tbodyRowCount = table.tBodies[0].rows.length; // 3



            if (tbodyRowCount == '') {
                alert("Please add materials!");

                return false;
            } else {

                var i = 0;

                var testnum = 0;
                $("#tbDetails TBODY TR").each(function () {

                    var row = $(this);
                    var Detail = {};
                    var Confirmed = 0;

                    i++;
                    $(this).closest('tr').find('input').each(function () {


                        if ($(this).attr("name") === "Qty") {
                            Detail.Qty = $(this).prop("value");
                            if (Detail.Qty == '') {
                                alert("Please fill material QTY!");
                                testnum = 1;
                                //row.focus();
                                return false;
                            }
                        }
                        if ($(this).attr("name") === "Price") {
                            Detail.Price = $(this).prop("value");
                            if (Detail.Price == '') {
                                alert("Please fill material Price!");
                                testnum = 1;
                                //row.focus();
                                return false;
                            }
                        }

                    });
                })
            }

            if (testnum === 1) {
                return (false);
            }
            return (true);

        }


        function openChild() {
            showModalPopUp('/Materials/IndexShort');

        }
        function AddAddress(){
            showModalPopUp('/LpoLocations/CreateShort');
        }
    </script>




    <script>
        var scntDiv = $('#p_scents');
        var nextRaw = 0;

        function remove(rowId) {

            var i = rowId.substring(5);
            var total = $("#total" + i).val();

            //Remove the TR element using JQuery's remove method.
            $('#' + rowId).fadeOut('slow', function () {
                $('#' + rowId).remove();

            });
            nextRaw = nextRaw - 1;

            Sr = Sr - 1;



            TotalChangeAfterRemove(i, total);




        }


        function TotalChangeAfterRemove(i, val) {

            var subTotal = $("#SubTotal").val();

            var total = val;

            var x = parseFloat(subTotal) - parseFloat(total);
            $("#SubTotal").val(x);


            var Discount = $("#Discount").val();
            var t = x - parseFloat(Discount)
            $("#Total").val(t);


            var v = t * 0.05
            $("#Vat").val(v);

            var g = 0;
            g = t + v;

            $("#GrandTotal").val(g);


        }



    </script>


    <script>
        $("body").on("click", "#btnSave", function () {


            if (validateForm() != false) {
                //Loop through the Table rows and build a JSON array.
                //  var LpoHeader = new Array();
                var EnqueryId = 0;
                var Enquery = $('#Lpoform').serialize();
                console.log(Enquery);
                $.ajax({
                    type: "POST",
                    url: "/Lpoes/CreateJson",
                    data: '{ enquery:' + JSON.stringify(Enquery) + '}',
                    async: false,
                    success: function (r) {

                        if (Number.isInteger(r)) {
                            EnqueryId = r;
                        }
                        else {

                            if (confirm(r + ' do you whant to retry?')) {

                            } else {
                                window.location.href = "@Url.Action("Create", "lpoes")";
                            }
                        }
                    }
                });


                if (Number.isInteger(EnqueryId) && EnqueryId > 0) {
                    var Details = new Array();
                    var i = 0;

                    var testnum = 0;
                    $("#tbDetails TBODY TR").each(function () {

                        var row = $(this);
                        var Detail = {};
                        var Confirmed = 0;
                        Detail.LpoId = EnqueryId;
                       // alert(Detail.LpoId)
                        i++;
                        $(this).closest('tr').find('input').each(function () {

                            if ($(this).attr("name") === "id") {
                                Detail.MaterialId = $(this).prop("value");

                            }
                            if ($(this).attr("name") === "Qty") {
                                Detail.Qty = $(this).prop("value");
                            }
                            if ($(this).attr("name") === "Price") {
                                Detail.Price = $(this).prop("value");

                            }

                        });

                        //$(this).closest('tr').find('select').each(function () {
                        //    if ($(this).attr("name") === "ProductId") {
                        //        Detail.MaterialId = $(this).val();
                        //        if (Detail.MaterialId == null) { testnum = 1; }
                        //    }

                        //});
                        Details.push(Detail);
                     });


                    if (testnum == 0) {
                        //Send the JSON array to Controller using AJAX.
                        $.ajax({
                            type: "POST",
                            url: "/Lpoes/CreateDetailsJson",
                            async: false,
                            data: JSON.stringify({ Details: Details }),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (r) {

                                if (r == "Cutting Sheet Saved Successfully") {
                                    window.location.href = "@Url.Action("Index", "lpoes")";
                                }
                                else {
                                    if (confirm(r + ' do you whant to retry?')) {
                                        // Save it!
                                    } else {
                                        window.location.href = "@Url.Action("Index", "lpoes")";
                                    }
                                }
                                // confirm("Press a button!");
                                //  alert(r + " record(s) inserted.");
                            }
                        });
                    } else { alert("number of skips or requested service not filled  "); }

                }
                else {
                    alert("Please, Enter data before save ");
                }
            }
        });
    </script>


    <script type="text/javascript">

        var popUpObj;

        function showModalPopUp(url) {

            popUpObj = window.open(url,

                "ModalPopUp",

                "toolbar=no," +

                "scrollbars=no," +

                "location=no," +

                "statusbar=no," +

                "menubar=no," +

                "resizable=0," +

                "width=960," +

                "height=460," +

                "left = 340," +

                "top=10"

            );

            popUpObj.focus();

            LoadModalDiv();

        }

    </script>

    <script type="text/javascript">

        function LoadModalDiv() {

            var bcgDiv = document.getElementById("divBackground");

            bcgDiv.style.display = "block";

            if (bcgDiv != null) {

                if (document.body.clientHeight > document.body.scrollHeight) {

                    bcgDiv.style.height = document.body.clientHeight + "px";

                }

                else {

                    bcgDiv.style.height = document.body.scrollHeight + "px";

                }

                bcgDiv.style.width = "100%";

            }

        }

    </script>
    <script type="text/javascript">

        function HideModalDiv() {

            var bcgDiv = document.getElementById("divBackground");

            bcgDiv.style.display = "none";

        }

    </script>
    <script>
        function setLocation(i) {
            $.ajax({
                type: "GET",
                url: "/LpoLocations/get",
                success: function (result) {
                    const data = result;//JSON.stringify(result);

                    FillSelect("LpoLocationId",data,i)
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);

                }
            });
        }

        function FillSelect(select,data,id) {
            let dropdown = document.getElementById(select);
            dropdown.length = 0;

            let defaultOption = document.createElement('option');
            defaultOption.text = 'Choose State/Province';

            dropdown.add(defaultOption);
            dropdown.selectedIndex = 0;

            for (let i = 0; i < data.length; i++) {
                option = document.createElement('option');

                option.text = data[i].Name;
                option.value = data[i].Id;
                if (data[i].Id === id)
                    option.selected = true;
                dropdown.add(option);
            }

        }
    </script>

    <script>
        var Sr = 0;
        //            window.opener.setValue(oVal, name, unit, Dimension, Price, QtyApproved, Approval, AvalableQty);
        function setValue(material) {
            let myVal = material.MaterialId, Name = material.Name, Unit = material.Unit.Name, Dinmension = "";
            let price = material.latestPrice, AvalableQty = material.AvalableQty;
            let cat = material.MaterialCategory.Name;
            let type = material.MaterialType.Name;


            if (AvalableQty < 0) {
                AvalableQty = -1 * AvalableQty;
            }
            var current = $(".ClientId").length;

            var next = parseFloat(current) + 1;
            var a = "DDlforLocationsClient" + next;
            var b = "span" + next;

            Sr = Sr + 1;


            //= $('#tbDetails tr').length;
            nextRaw = nextRaw + 1;
            var tt = '<tr id="item_' + nextRaw + '">';


            tt = tt + '<td class="Name" > ' +
                '<div class="" > ' +
                Sr +
                '</div > ' +
                '</td > ';

            tt = tt + '<td class="Name" > ' +
                '<div class="" > ' +
                '<input type="text" name="id" id="id' + nextRaw + '"  class="form-control" value="' + myVal + '"/> ' +
                '</div > ' +
                '</td > ';

            tt = tt + '<td class="Name" > ' +
                '<div class="" > ' +
                '<input type="text" name="Name" id="Name' + nextRaw + '"  class="form-control" value="' + Name + '"/> ' +
                '</div > ' +
                '</td > ';


            tt = tt + '<td class="Name" hidden> ' +
                '<div class="" > ' +
                '<input type="text" name="Deminsion" id="Deminsion' + nextRaw + '"  class="form-control" value="' + Dinmension + '"/> ' +
                '</div > ' +
                '</td > ';

            tt = tt + '<td class="Name" > ' +
                '<div class="" > ' +
                '<input type="text" name="Unit" id="Unit' + nextRaw + '"  class="form-control" value="' + Unit + '"/> ' +
                '</div > ' +
                '</td > ';


            tt = tt + '<td class="Qty" > ' +
                '<div class="" > ' +
                '<input type="text" name="Qty" id="Qty' + nextRaw + '"  class="form-control" onchange="PriceChange(' + nextRaw + ')"  value="' + AvalableQty + '"/> ' +
                '</div > ' +
                '</td > ';

            //tt = tt + '<td class="Name" > ' +
            //    '<div class="" > ' +
            //    '<input type="text" name="Unit2" id="Unit2' + nextRaw + '"  class="form-control" value="' + Unit + '"/> ' +
            //    '</div > ' +
            //    '</td > ';

            tt = tt + '<td class="Price" > ' +
                '<div class="" > ' +
                '<input type="text" name="Price" id="Price' + nextRaw + '"  class="form-control Price" value="' + price+'" onchange="PriceChange(' + nextRaw + ')"/> ' +
                '</div > ' +
                '</td > ';

            tt = tt + '<td class="total" > ' +
                '<div class="" > ' +
                '<input type="text" name="total" id="total' + nextRaw + '"  class="form-control" " /> ' +
                '</div > ' +
                '</td > ';



            tt = tt + ' <td>' +
                ' <div class="delete">' +
                '  <span id="c1" class="	glyphicon glyphicon-trash" onclick="remove(\'item_' + nextRaw + '\')"> </span>' +
                ' </div>' +
                ' </td>' +
                ' </tr>';

            scntDiv.append(tt);
            PriceChange(nextRaw);

            var options = "";


        }
    </script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>*@
    <script>
        $("#Discount").change(function () {

            var subTotal = $("#SubTotal").val();
            var Discount = $("#Discount").val();
            var t = subTotal - Discount
            $("#Total").val(t);

            var v = t * 0.05
            $("#Vat").val(v);

            var g = 0;
            g = t + v;

            $("#GrandTotal").val(g);

        });

        $("#SubTotal").change(function () {
            var subTotal = $("#SubTotal").val();
            var v = subTotal * 1.05
            $("#vat").val(v);



        });

        function PriceChange(i) {
            //alert(i);
            var qty = $("#Qty" + i).val();
            var price = $("#Price" + i).val();

            // alert(qty + "   " + price)
            $("#total" + i).val(qty * price);

            TotalChange(i)

        };

        function TotalChange(i) {
            let subTotal = 0; 
            let sub = 0;
            $("#tbDetails TBODY TR").each(function () {

                var row = $(this);
                var Detail = {};
                i++;
                $(this).closest('tr').find('input').each(function () {

                    if ($(this).attr("name") === "total") {
                        sub = $(this).prop("value");
                        subTotal += parseFloat( sub);
                    }
                });

            });


            $("#SubTotal").val(subTotal);
            let Discount = $("#Discount").val();
            let total = subTotal - parseFloat(Discount)
            $("#Total").val(total);


            let vat = total * 0.05;
            $("#Vat").val(vat);

            let GrandTotal = total + vat;

            $("#GrandTotal").val(GrandTotal);


        }
    </script>



    }