@model IEnumerable<WebApplication8.Models.Material>

@{
    ViewBag.Title = "Material List";
}

@{

    Layout = "~/Views/Shared/_Layout - Temp - Table - Short.cshtml";
}




<label class="button-collapse">

    @*@Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = " btn btn-default " })*@

</label>
<!-- START SEARCH -->
<!-- START SEARCH -->
@using (Html.BeginForm())
{

    @*<div class="panel panel-default">
            <div class="panel-body">
                <div class="row stacked  ">
                    <div style="display:;vertical-align: middle;">
                        <div class="input-group push-down-3 inner col-md-3 " style="float:left">
                            <span class="input-group-addon"><span class="fa fa-search"></span></span>


                            <input type="text" name="searchStringName" class="form-control" placeholder="Material Name..." />
                            <div class="input-group-btn">
                                <button class="btn btn-primary">Search</button>
                            </div>
                        </div>

                        <div class="input-group push-down-4 inner col-md-3" style="float:left">
                            <span class="input-group-addon"><span class="fa fa-search"></span></span>


                            <input type="text" name="searchStringBarcode" class="form-control" placeholder="Barcode" />
                            <div class="input-group-btn">
                                <button class="btn btn-primary">Search</button>
                            </div>
                        </div>

                        <div class="input-group push-down-4 inner col-md-3" style="float:left">
                            <span class="input-group-addon"><span class="fa fa-search"></span></span>


                            <input type="text" name="searchStringCode" class="form-control" placeholder="Code..." />
                            <div class="input-group-btn">
                                <button class="btn btn-primary">Search</button>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">


                    </div>
                </div>
            </div>
        </div>*@
}
<!-- END SEARCH -->

<table class="table-hover table-bordered table-striped" id="dataTables-example">
    <thead>
        <tr>
            <th></th>
            <th width="5%">
                @Html.DisplayNameFor(model => model.code)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.MaterialCategory.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialType.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.Unit.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.qty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resevedqty)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.MinReOrder)
            </th>

            <th>
                Available Qty
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvgPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.latestPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WareHouse.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.barcode)
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <span class="btn btn-info cid" id="@item.MaterialId"><i class="glyphicon glyphicon-check"></i> </span>
                @*<span class="btn btn-info cid" id="@item.MaterialId"></span>*@

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.code)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.MaterialCategory.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialType.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Unit.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.qty)
            </td>
            <td>
                @{float x = item.Resevedqty ?? 0;}
                @x
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinReOrder)
            </td>

            <td>
                @{float? a = 0;
                    a = @item.qty - @item.Resevedqty - @item.MinReOrder;}

                @Html.DisplayFor(modelItem => item.AvalableQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvgPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.latestPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WareHouse.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.barcode)
            </td>


        </tr>
        }
    </tbody>
</table>

<script src="~/Scripts/js/jquery1.7.1Google.min.js"></script>

<script>
    $("#dataTables-example").on("click", ".cid ", function selectM() {

        var name = "";
        var unit = "";
        var oVal = this.id;
        var Material = {};
        let material = {};
        $.ajax({
            type: "GET",
            traditional: true,
            async: false,
            cache: false,
            url: '/Materials/get',
            //context: JSON,
            context: document.body,

            data: { "id": oVal /* add other additional parameters */ },

            //data: '{ enquery:' + JSON.stringify(Enquery) + '}',
            success: function (result) {
                material = result;
                console.log("result : " + JSON.stringify(material));


                //name = result.Name;
                //unit = result.Unit;
                //unit2 = result.Unit2;
                //Dimension = result.Dimension;
                //Price = result.Price;
                //QtyApproved = result.QtyApproved;
                //Approval = result.QtyApproved;
                //AvalableQty = result.AvalableQty;
            },
            error: function (xhr) {
                //debugger;
                console.log(xhr.responseText);
                alert("Error has occurred of Getting material..");
            }
        });

        // window.opener.setValue(oVal, name, unit, Dimension, Price, QtyApproved, Approval, AvalableQty,CatId,TypeId);
        window.opener.setValue(material);
        // window.close();

        return false;
    });



    $(document).ready(function () {
        $('#dataTables-example').dataTable({
            "order": [9, "asc"]
        });

    });
</script>

<script type="text/javascript">

    function OnClose() {

        if (window.opener != null && !window.opener.closed) {

            window.opener.HideModalDiv();

        }

    }

    window.onunload = OnClose;
     //   window.close = OnClose;
</script>


