@model WebApplication8.Models.LpoNature

@{
    ViewBag.Title = "Create";
}
@{
    Layout = null;
}
<h2>Create</h2>


@using (Html.BeginForm("CreateShort", "LpoNature", FormMethod.Post, new { id = "LpoNatureForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>LpoLocation</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script src="~/Scripts/js/jquery1.7.1Google.min.js"></script>
<script>


        $(document).ready(function () {

            $("form#LpoNatureForm").submit(function () {
                event.preventDefault();
                var Name = $("#Name").val();

                $.ajax({
                    type: "POST",
                    url: "/LpoNatures/CreateShort",
                    data: "Name=" + Name,
                    success: function (result) {
                        window.opener.setNature(result);
                        window.close();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("some error");

                    }
                });
            });
            return false;
        });

</script>



