@model WebApplication8.Models.RegisterViewModel
@{
    ViewBag.Title = "Edit User";
}
@*FOR SEARCH OPTION WITH SELECT*@
@* customer libs *@

<link href="~/css/bootstrap-select.min.css" rel="stylesheet" />
@*<link href="~/css/bootstrap.min.css" rel="stylesheet" />*@
@* customer libs *@
<style>
    .bootstrap-select .dropdown-menu > li > a small.muted {
        display: none;
    }

    .bootstrap-select .dropdown-toggle .filter-option {
        position: relative;
        padding-left: 38px;
    }

        .bootstrap-select .dropdown-toggle .filter-option:before {
            /*font-size: 14px;*/
            /*font-weight: 700;*/
            position: absolute;
            left: 0;
            top: 0;
        }
</style>
@*******************@
<h2>Edit User Account</h2>

@using (Html.BeginForm("ResetPasswordCust", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    @Html.AntiForgeryToken()
    <h4 style="color:red">@ViewBag.e</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })


    @Html.TextBoxFor(model => model.idx, "", new { @class = "text-danger", hidden = "hidden" })

    <div class="form-group">
        @Html.LabelFor(model => model.EmployeeId, null, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @ViewBag.empname
        </div>
    </div>




    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Model.Email
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Model.UserName
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.IsEnabled, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Model.IsEnabled
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.PasswordFor(m => m.Password, new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Save" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script async src="~/js/jsfiddle.js"></script>
    <script src="~/js/bootstrap-select.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    <script src="~/js/jquery191Google.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.selectCustomerGroup').attr('data-live-search', true);

            $('.selectCustomerGroup').selectpicker(
                {
                    width: '100%',
                    title: '- [Choose Country] -',
                    //style: 'btn-warning',
                    size: 6
                });

            $('.selectpicker').selectpicker({
                liveSearch: true,
                showSubtext: true
            });

            $('#JSFEMB_17958').hide();
            //    $('#JSFEMB_17958').toggle();
        });

    </script>
}



