@model WebApplication8.Models.PermissionUser

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PermissionUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Permissions.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Permissions.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PermissionUserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
